* {
    box-sizing: border-box;
}
body {
    font-size: 100%;
    /* font-family: Calibre-Medium,sans-serif; */
    font-family: 'Space Grotesk',sans-serif;
    color: #ffffff;
    /* margin: ; */
    background-color: #000000;
    /* background-image: linear-gradient(to bottom, #ffffff,  #ffe0f2); */

}
#intro {
    
    margin-left: 5%;
    /* border: 1px solid red; */
    /* height: 70vh; */
    margin-bottom: 10%;
    /* margin-top: 15%; */
}
#intro h1{
    /* margin-top: 15%; */
    padding-top: 10%;
    font-size: 4em;
    
}



#cta {
    color: #ffffff;
    display: block;
    margin: auto ;
    margin-top: ;
    text-align: center;
    text-decoration: none;
    width: 150px;
    padding: 15px 0;
    border: 1px solid white;
    margin-bottom: 10%;
    /* background-color: #68bf68; */
    /* background-color: #a31010; */
    /* background-image: linear-gradient(to right, #f5e198, #ffb4e8); */
    /* border-radius: 50px; */
}
h2 {
    margin: auto;
}
.project-container {
    color: #000000;
    display: grid;
    grid-gap: 50px 40px;
    padding: 5% 4%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

    /* border: 1px solid red; */
    
}
.project-item {
    /* font-size: 5em; */
    position: relative;
    height: 220px;
    width: 100%;
    padding: 5% 10% 0 20%;
    margin-bottom: 0;
    /* border: 1px solid rgb(1, 250, 13); */
    border-radius: 50px;
}
.hd-5 {
    display: block;
    margin-left: 5%;
    color: gray;
    letter-spacing: 0.1em;
}
.hd-3 {
    display: block;
    margin-left: 5%;
    margin-bottom: 0.1%;
    margin-top: 0;
    font-size: 2em;
}
p {
    margin-left: 10%;
    font-weight: 100;
    color: gray;
}

.project-content {
    display: block;
    /* border: 1px solid rgb(250, 233, 1); */
    position: absolute;
    margin: auto;
    bottom: 0;
}
.project-name {
    font-size: 2.5em;
}
#one {
    background-image: linear-gradient(to bottom, #fdf28f,  #fff9c7);
}
#two {
    background-image: linear-gradient(to bottom, #bcf8ee, #ffc5e9);
}
#three {
    background-image: linear-gradient(to bottom, #e479ff, #ffb8f7);
}
#four {
    background-image: linear-gradient(to right, #ffcaf6, #43ffd0);
}
#five {
    background-image: linear-gradient(to left, #bcf8ee, #ffb8f7);
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

a::after {
    content: "";
    display: block;
    height: 10px;
    width: 0%;
    margin-top: -10px;
    background: rgb(233, 78, 27);
    transition: all 0.5s ease 0s;
}


.tools-container {
    
    display: grid;
    grid-gap: 50px 40px;
    padding: 5% 4%;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto;
    margin-bottom: 15%;

    /* border: 1px solid red; */
    
}

.tool {
    position: relative;
    margin: auto;
    /* height: 10px; */
    /* width: 100%; */
    /* padding: 10% 20% 0 20%; */
    /* border: 1px solid rgb(1, 250, 13); */
    border-radius: 50px;
}
img {
    height: 10em;
}
.stack-container {
    color: #000000;
    display: grid;
    grid-gap: 50px 40px;
    padding: 5% 4%;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto;
    /* margin-bottom: 15%; */

    /* border: 1px solid red; */
}

.stack-item {
    /* font-size: 5em; */
    text-align: center;
    position: relative;
    /* height: 50px; */
    width: 100%;
    /* padding: 10% 20% 0 20%; */
    margin-bottom: 0;
    /* border: 1px solid rgb(1, 250, 13); */
    border-radius: 50px;
}

#stack-one {
    background-image: linear-gradient(to bottom, #fdf28f,  #fff9c7);
}
#stack-two {
    background-image: linear-gradient(to bottom, #bcf8ee, #ffc5e9);
}
#stack-three {
    background-image: linear-gradient(to bottom, #e479ff, #ffb8f7);
}
#stack-four {
    background-image: linear-gradient(to right, #ffcaf6, #43ffd0);
}
.links-container {
    color: #000000;
    display: grid;
    grid-gap: 50px 40px;
    padding: 5% 4%;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto;
    /* margin-bottom: 15%; */

    /* border: 1px solid red; */
}

.link-item {
    /* font-size: 5em; */
    text-align: center;
    position: relative;
    /* height: 50px; */
    width: 100%;
    /* padding: 10% 20% 0 20%; */
    margin-bottom: 0;
    /* border: 1px solid rgb(1, 250, 13); */
    border-radius: 50px;
}

#link-one {
    background-image: linear-gradient(to bottom, #fdf28f,  #fff9c7);
}
#link-two {
    background-image: linear-gradient(to bottom, #bcf8ee, #ffc5e9);
}
#link-three {
    background-image: linear-gradient(to bottom, #e479ff, #ffb8f7);
}
#link-four {
    background-image: linear-gradient(to right, #ffcaf6, #43ffd0);
}

.contact-container {
    display: grid;
    grid-gap: 50px 40px;
    padding: 5% 4%;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto;
    /* margin-bottom: 15%; */

    /* border: 1px solid red; */
}

.contact-item {
    /* font-size: 5em; */
    text-align: left;
    position: relative;
    /* height: 50px; */
    width: 100%;
    /* padding: 10% 20% 0 20%; */
    margin-bottom: 0;
    /* border: 1px solid rgb(1, 250, 13); */
    border-radius: 50px;
}
.contact-container h3 {
    /* text-align: left; */
    /* border: 1px solid rgb(1, 250, 13); */
    font-size: 2.5em;
}
.contact-container h3:hover{
    color: #000000;
    background-image: linear-gradient(to right, #ffcaf6, #43ffd0);
}


@media screen and (max-width: 414px) {
    .project-container {
        display: grid;
        grid-template-columns: auto;
        margin-bottom: 20%;
    }
    #intro {
        /* height: 50vh; */
        margin-bottom: 30%;
    }
    #intro h1{
        /* margin-top: 30%;  */
        padding-top: 20%;
        font-size: 3.5em;
    } 
    #cta {
        margin-bottom: 30%;
    }

    .tools-container {
    
        display: grid;
        /* grid-gap: 50px 40px; */
        /* padding: 5% 4%; */
        grid-template-columns: auto auto;
        /* grid-template-rows: auto auto; */
        /* margin-bottom: 15%; */
    
        /* border: 1px solid red; */
        
    }
    .tool {
        position: relative;
        margin: auto;
        /* height: 10px; */
        /* width: 100%; */
        /* padding: 10% 20% 0 20%; */
        /* border: 1px solid rgb(1, 250, 13); */
        border-radius: 50px;
    }
    img {
        height: 6em;
    }

    .stack-container {
        display: grid;
        /* grid-gap: 50px 40px; */
        /* padding: 5% 4%; */
        grid-template-columns: auto ;
        /* grid-template-rows: auto auto; */
        margin-bottom: 20%;
    
        /* border: 1px solid red; */
    }
    .links-container {
        display: grid;
        /* grid-gap: 50px 40px; */
        /* padding: 5% 4%; */
        grid-template-columns: auto ;
        /* grid-template-rows: auto auto; */
        margin-bottom: 20%;
    
        /* border: 1px solid red; */
    }
    .contact-container {
        display: grid;
        grid-gap: 0px 40px;
        /* padding: 0% 4%; */
        grid-template-columns: auto ;
        /* grid-template-rows: auto auto; */
        margin-bottom: 20%;
    
        /* border: 1px solid red; */
    }

    .contact-container h3 {
        font-size: 1.5em;
    }
    
}
